/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8. 11. 2024, 19:27:31
    Author     : Jonáš
*/

.album-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.album-cover img {
    max-width: 200px;
    height: auto;
}

.album-info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.album-name {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 10px;
}

.album-description {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.album-details {
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between images */
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
}


.photo-gallery img {
    height: 300px; /* Set a fixed height for all images */
    width: auto; /* Maintain the aspect ratio by adjusting width automatically */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain; /* Ensures the image scales within the set height without cropping */
}

