/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13. 3. 2025, 15:37:10
    Author     : Jonáš
*/
/* tab selector */
#tab-views {
    .number-input-wrapper {
        input {
            border: 1px solid var(--dark-green);
            padding: 10px 20px;
            cursor: pointer;

            border-radius: 4px;
            text-decoration: none;
            font-family: "Times New Roman", Times, serif;
            font-size: 1em;
            width: 80px;
        }
    }
    
    
    ul {
        padding: 0 0 2px 0;
        
        background-color: var(--dark-green);
        li {
            padding: 0;
            border: none;
            background-color: var(--dark-green);
            
            a {
                padding: 14px 16px;
                text-decoration: none;
                font-weight: 400;
                font-family: "Times New Roman", Times, serif;
                color: var(--text-accent-color);
            }
            
            /* active tab */
            &.ui-state-active {
                border: none;
                background-color: var(--light-green);
                box-shadow: none;
            }
            &.ui-state-hover {
                border: none;
                background-color: var(--light-green);
                box-shadow: 0 4px 8px 0 var(--shadow-primary-color), 0 6px 20px 0 var(--shadow-primary-color);
                a {
                    
                }
            }
        }
    }
    
    > div {
        background-color: var(--lightest-green);
    }
    
    .shuffle-form {
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        
        .controls {
            padding-top: 16px;
        }
        .image-switcher {
            height: 90vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow: hidden;
            
            /*overwrite PF css*/
            a {
                position: relative !important;
                height: fit-content !important;
                background-color: none !important;
            }
            
            img {
                max-width: 90vw;
                width: auto;
                max-height: 90vh;
                height: auto;
            }
        }
        
        .controls {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        input[type=submit], button {
            margin-right: 20px;
            
            background-color: var(--confirm-button-color);
            border: none;
            padding: 10px 20px;
            cursor: pointer;

            border-radius: 4px;
            text-decoration: none;
            font-family: "Times New Roman", Times, serif;
            color: var(--text-accent-color);
            font-size: 1em;

            &:disabled {
                background-color: var(--gray);
                color: var(--text-accent-color);
                cursor: not-allowed;
                box-shadow: none;
                opacity: 0.6;
            }

            &.delete, &.cancel {
                background-color: var(--cancel-button-color);
                margin: 0px 10px;

                &:hover {
                    background-color: var(--cancel-button-accent-color);
                }
            }

            &:hover {
                background-color: var(--light-green);
                box-shadow: 0 4px 8px 0 var(--shadow-primary-color), 0 6px 20px 0 var(--shadow-primary-color);
            }
        }
    }
}