/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1. 11. 2024, 17:12:38
    Author     : Jonáš
*/
:root {
    --dark-green: #306000;
    --light-green: #acc395;
    --lightest-green: #eefceb;
    --brown: #523800;
    --gray: #424242;
    
}

html, body {
    margin: 0px;
    background-color: var(--lightest-green);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    color: white;
    text-align: center;
    background-color: var(--brown);
    
    &.header {
        font-size: 50px;
        padding: 20px;
    }
    &.footer {
        padding: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-green);
  min-width: 455px;
  
  li {
    float: left;
    
    &.float-right {
        float: right;
    }
    
    span {
        display: block;
        margin:0;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        &:hover {
            background-color: var(--light-green);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        &.active {
            background-color: var(--light-green);
        }
    }
  }
}


table {
    margin-top: 16px;
    border-collapse: collapse;
    
    th, td {
        padding: 10px;
        border: 1px solid black;
        
        &.action-column-cell {
            .cancel {
                margin-right: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    table {
        th, td {
            &.action-column-cell {
                input {
                    display: block;
                    &.cancel {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


input[type=submit], button, select {
    min-width: 120px;
    height: 40px;
    height: 40px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    
    &.refresh {
        min-width: 40px;
        margin-right: 16px;
    }
}

input[type=submit], button {
    background-color: var(--dark-green);
    border: none;
    color: white;
    
    &:disabled {
        background-color: #a5a5a5;
        color: #ddd;
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.6;
    }

    &.right {
        float: right;
    }
    &.delete, &.cancel {
        background-color: darkred;

        &:hover {
            background-color: lightcoral;
        }
    }

    &:hover {
        background-color: var(--light-green);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.tooltip {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em; 
    
    .tooltip-text {
        visibility: hidden;
        width: 260px;
        background-color: var(--gray);
        color: white;
        padding: 8px;
        border-radius: 4px;

        position: absolute;
        z-index: 100;
        bottom: 100%;
        left: 0%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 8px;
        
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &::before {
        content: "ⓘ";
    }
    &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}