/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1. 11. 2024, 17:12:38
    Author     : Jonáš
*/
:root {
    --dark-green: #306000;
    --light-green: #acc395;
    --lightest-green: #eefceb;
    --brown: #523800;
    
}

body {
    margin: 0px;
    background-color: var(--lightest-green);
}

.banner {
    color: white;
    text-align: center;
    background-color: var(--brown);
    
    &.header {
        font-size: 50px;
        padding: 20px;
    }
    &.footer {
        height: 100%;
    }
}

.wrapper {
    margin-left: 20px;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-green);
  
  li {
    float: left;
    
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        &:hover {
            background-color: var(--light-green);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        &.active {
            background-color: var(--light-green);
        }
    }
  }
}


table {
    border-collapse: collapse;
    
    th, td {
        padding: 10px;
        border: 1px solid black;
    }
}

input[type=submit] {
    background-color: var(--dark-green);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    
    &.delete {
        background-color: darkred;
        
        &:hover {
            background-color: lightcoral;
        }
    }
    
    &:hover {
        background-color: var(--light-green);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}