/* 
    Created on : 1. 11. 2024, 17:12:38
    Author     : jelinjon
*/
:root {
    --dark-green: #306000;
    --light-green: #acc395;
    --lightest-green: #eefceb;
    --brown: #523800;
    --gray: #424242;
    --light-gray: lightgray;
    --black: black;
    --cancel-button-color: darkred;
    --cancel-button-accent-color: lightcoral;
    --confirm-button-color: #306000;
    --text-primary-color: black;
    --text-accent-color: white;
    --shadow-primary-color: rgba(0, 0, 0, 0.2);
    --slider-default-shadow-color: rgba(0, 0, 0, 0.1);
    --slider-hover-shadow-color: rgba(0, 0, 0, 0.3);
    --albumphoto-details-background: rgba(0, 0, 0, 0.9);
    --photo-details-background: rgba(0, 0, 0, 0.5);
    
    /*svg variables*/
    --primary-color: #dadada;
    --highlight-color: #e9e98a;
    --dark-color: #6d6d6d;
    --grass-green: #82ba00;
    --tree-brown: #825200;
    --tree-green: #009900;
    --photo-border: #000000;
}

svg {
    .outline {
        stroke: var(--photo-border, #000000);
        stroke-width: 1;
    }
    .thick-outline {
        stroke: var(--photo-border, #000000);
        stroke-width: 2;
    }
    .fill-none {
        fill: none;
    }
    .brown {
        fill: var(--brown-fill, #825200);
    }
    .primary {
        fill: var(--primary-color);
    }
    .highlight {
        fill: var(--highlight-color);
    }
    .dark {
        fill: var(--dark-color);
    }
    .green {
        fill: var(--grass-green);
    }
    .brown {
        fill: var(--tree-brown);
    }
    .tree-green {
        fill: var(--tree-green);
    }
}

html, body {
    color: var(--black);
    margin: 0px;
    background-color: var(--lightest-green);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    color: var(--text-accent-color);
    text-align: center;
    background-color: var(--brown);
    min-width: 500px;
    
    a {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 16px;
        color: var(--text-accent-color);
        text-decoration: none;
    }
    
    &.header {
        font-size: 50px;
        padding: 20px;
        
    }
    &.footer {
        display: flex;
        flex-wrap: wrap;
        a {
            margin-left: 5px;
            color: inherit;
            text-decoration: underline;
        }
        padding: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-green);
  min-width: 455px;
  
  li {
    float: left;
    
    &.float-right {
        float: right;
    }
    
    span {
        display: block;
        margin:0;
        color: var(--text-accent-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    a {
        display: block;
        color: var(--text-accent-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        &:hover {
            background-color: var(--light-green);
            box-shadow: 0 4px 8px 0 var(--shadow-primary-color), 0 6px 20px 0 var(--shadow-primary-color);
        }
        
        &.active {
            background-color: var(--light-green);
        }
    }
  }
}

table {
    margin-top: 16px;
    border-collapse: collapse;
    
    th, td {
        padding: 10px;
        border: 1px solid var(--black);
        
        &.action-column-cell {
            .cancel {
                margin-right: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    table {
        th, td {
            &.action-column-cell {
                input {
                    display: block;
                    &.cancel {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}


input[type=submit], button, select {
    min-width: 120px;
    width: fit-content;
    height: 40px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    
    &.refresh {
        min-width: 40px;
        margin-right: 16px;
    }
}

input[type=submit], button {
    background-color: var(--dark-green);
    border: none;
    color: var(--text-accent-color);
    
    &:disabled {
        background-color: var(--gray);
        color: var(--text-primary-color);
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.6;
    }

    &.right {
        float: right;
    }
    &.delete, &.cancel {
        background-color: var(--cancel-button-color);

        &:hover {
            background-color: var(--cancel-button-accent-color);
        }
    }

    &:hover {
        background-color: var(--light-green);
        box-shadow: 0 4px 8px 0 var(--shadow-primary-color), 0 6px 20px 0 var(--shadow-primary-color);
    }
}

.tooltip {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em; 
    
    .tooltip-text {
        visibility: hidden;
        width: 260px;
        background-color: var(--gray);
        color: var(--text-accent-color);
        padding: 8px;
        border-radius: 4px;

        position: absolute;
        z-index: 100;
        bottom: 100%;
        left: 0%;
        box-shadow: 0 4px 8px 0 var(--shadow-primary-color), 0 6px 20px 0 var(--shadow-primary-color);
        margin-bottom: 8px;
        
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &::before {
        content: "ⓘ";
    }
    &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}